.input-wrapper { 
    position: relative; 
    box-shadow: 1px 2px 5px 0px rgba(244, 168, 85, 0.15);
    
} 

.input-wrapper  { 
    input{
    padding:15px 10px; 
    border-radius: 10px;
    overflow: hidden;
    border-radius: 10px;
    color: gray;
    &::placeholder {
        padding:0 2px;
       font-size:14px;
       font-weight: 400;
       text-transform: capitalize;
       @media (min-width:740px){
        font-size:14px;

    }
    @media (min-width:1024px){
        font-size:16px;

    }
   
      }}
} 

.input-wrapper button { 
    // position: absolute; 
    top: 0; 
    border-radius: 10px;
    padding: 14px 10px;
    color: white;
    border: none; 
    background-color: transparent; 
    text-transform: capitalize;
    background-color: #EF7D00;
    @media (min-width:740px){
        padding:12px 25px;

    }
    @media (min-width:1440px){
        padding:11px 30px;
        font-size: 22px;

    }
} 