
.ltr {
 

    direction: ltr;
    text-align: left;
    font-family: "Montserrat", sans-serif;
  }
  
  .rtl {
    direction: rtl;
    font-family: "Cairo", sans-serif;
    text-align: right;
}
.phoneDirection{
  direction:ltr
}